input_files
output_files
view_files
forge
data
old_scripts
airal_archive/test.py
airal_archive/tast.py
airal_archive/__pycache__
airal_archive/forge_scripts
airal_archive/other_scripts
airal_archive/corflow_functions_v2.py
my-venv
corflow_scripts/test.py
corflow_scripts/__pycache__
corflow_scripts/get_and_define_segments_content.py
corflow_scripts/notes.md
corflow_scripts/UUM-TXT-AN-00000-A01.pfsx
EAF_Annotation_Format.pdf
ignored
